Package: com.s1mplex.dragabletoggle
Name: DragableToggle
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: mobilesubstrate (>= 0.9.5015), firmware (>= 14.0)
Description: A draggable floating toggle panel for any iOS app
Maintainer: S1mpleXDev <dev@example.com>
Author: S1mpleXDev
Section: Tweaks
Homepage: https://github.com/s1mplex/dragabletoggle
